body{
    font-family: cursive;
}

/* nested dropdown start */

.dropdown-submenu {
    position: relative;
}

.filter{
    display: flex;
}
 select {
    display: block;
    width: 100% !important;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    /* background-position: right .75rem center; */
    /* background-size: 16px 12px; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
} 

.grade{
    margin-left: 12.5%;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
    
}
.dropdown a{
    text-decoration: none !important; 
    color: #000;
}

.dropdown li{
    padding-left: 10px;
}
.dropdown .fas{
    background-color: none !important;
    color: #000 !important;
}

.footer{
    background-color: #222;
    padding: 4% 12%;
}

.footer-col{
    display: flex;
}
#selectedClass .subject-card{
    width: 27rem;
}

@media (min-width:240px) and (max-width:768px){
    .courses{
        text-align: center;
        margin: 10px 0px;
    }

    .filter{
        display: flex;
        flex-direction: column;
    }
   #selectedClass .subject-card{
        width: 22rem;
    }
    #selectedClass .card-font{
        font-size: 13px;
    }
    .grade{
        margin: 0%;
    }
    select {
        display: block;
        width: 75% !important;
        padding: .375rem 2.25rem .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
        color: #212529;
        background-color: #fff;
        background-repeat: no-repeat;
        margin-left: 12.5%;
        /* background-position: right .75rem center; */
        /* background-size: 16px 12px; */
        border: 1px solid #ced4da;
        border-radius: .25rem;
        /* -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;*/
    } 
    .footer-col{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer-col div{
        margin: 8% 0%;
        text-align: center !important;
    }

    .footer-col a{
        text-align: center !important;
    }

    .footer-col ul{
        text-align: center !important;
    }
}